{% extends "layout.html" %}

{% block style %}
.red {
  color: red;
  text-align: center;

}
.body {
  text-align: center;

}
{% endblock %}

{% block main %}
<br><br><br><br><br><br>
  <form action="https://www.bing.com/search">
    <h2 class="blue">𝓢𝔂𝓷𝓮𝓻𝓢𝓮𝓪𝓻𝓬𝓱</h2>
    <div class="input-icons">

             <input class="form-control" placeholder="Search Synersearch" name="q" type="text" class="form-group"/> <button class="btn btn-default" type="submit"><i class="fa fa-search icon"></i></button>

    </div>
  </form>
{% endblock %}