{% extends "layout.html" %}


{% block main %}
<div><img src="/static/logo1.png"><img src="/static/logo2.png"></div>
<div>

<h2>Tools for those on the go</h2>
<br><br>
<h3>How to download Synergo for Google Chrome:</h3>
    1. Download <a href="https://www.dropbox.com/sh/wwyl8bodn6dksjl/AAAOLqOGj0vgOAsMtC-qfcvIa?dl=0" target="_blank">the extension source code from Dropbox.</a><br>
    2. In the top right corner there will be a "Download" dropdown. Click on it and select "Direct Download". Unzip the file and keep it ready.<br>
    3. Go to your extensions dashboard at chrome://extensions/, make sure "Developer Mode" is turned on in the top right corner.<br>
    4. Click on "Load Unpacked" on the top left corner and input the unzipped folder you downloaded on step 1.<br>
    5. Close the tab and open a new tab! You have downloaded sucessfully.<br>


<br><br>
<p><a href="/register">Register today!</a></p>
<p>Have an account? <a href="/login">Login</a></p>
{% endblock %}