{% extends "layout.html" %}

{% block main %}

    <form action="/textedit" method="post">

        <fieldset>
            <div class="form-group">
                <select name="title" class="form-group">
                    <option value="" disabled selected=""></option>
                    {% for text in texts %}
                        <option value="{{ text.title }}">{{ text.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">View Text</button>
            </div>
        </fieldset>

    </form>
{% endblock %}